<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="http://twitter.com/MrDan_iel" target="_blank">Daniel Agbogun</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">LinkedIn:</div>
                <div class="col-md-10"><a href="https://linkedin.com/in/mrdanielsoftwaredeveloper" target="_blank">https://linkedin.com/in/mrdanielsoftwaredeveloper</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/MrDannie" target="_blank">https://github.com/MrDannie</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">About Me:</div>
                <div class="col-md-10"><a href="mailto:training@codewithdan.com" target="_blank">My Name is Mr Daniel. I am an Angular Developer, 
                                                                                                this is one of my angular project. <br />
                                                                                                You can visit my gitHub account for other projects i have done</a></div>
            </div>
        </div>
    </div>
</div>